<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.netease.nim.uikit">

    <application>
        <service
            android:name="com.cgm.nim.BadgerService"
            android:process=":remote" />
        <meta-data
            android:name="com.netease.nim.uikit.support.glide.NIMGlideModule"
            android:value="GlideModule"/>

        <!-- 会话窗口 -->
        <!-- UI组件中包含了语音选文字功能，该界面是全屏显示，为了视觉上的美观，该界面主题ActionBar使用Overlay模式。
             如果开发者不需要该功能或效果，使用普通主题即可。 同时，还需要将message_activity.xml这个layout中的根节点的paddingTop去掉。 -->
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.P2PMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.TeamMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 群聊 -->
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.NormalTeamInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamMemberActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamMemberInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamNicknameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.AdvancedTeamCreateAnnounceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.netease.nim.uikit.business.team.activity.TeamPropertySettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 联系人选择器 -->
        <activity
            android:name="com.netease.nim.uikit.business.contact.selector.activity.ContactSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/contact_selector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- @ 选择器 -->
        <activity android:name=".business.ait.selector.AitContactSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- 照片选择 -->
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PickerAlbumPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromLocalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.netease.nim.uikit.common.media.picker.activity.PreviewImageFromCameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/input_panel_take"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 视频 -->
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.CaptureVideoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.netease.nim.uikit.business.session.activity.WatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/video_play"
            android:theme="@style/DarkTheme" />

        <!-- 查看大图 -->
        <activity
            android:name="com.netease.nim.uikit.business.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/DarkTheme"/>

        <activity android:name=".business.session.activity.WatchPicAndVideoMenuActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/DarkTheme"/>


        <provider
            android:name="com.netease.nim.uikit.common.media.model.GenericFileProvider"
            android:authorities="${applicationId}.generic.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <activity
            android:name=".common.media.imagepicker.ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseTheme"/>

        <activity
            android:name=".common.media.imagepicker.ui.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerTheme.BlackStatusBar"/>
        <activity
            android:name=".common.media.imagepicker.ui.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme.BlackStatusBar"/>

        <activity
            android:name=".common.media.imagepicker.ui.ImagePreviewRetakeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme.BlackStatusBar"/>
        <activity
            android:name=".common.media.imagepicker.ui.ImageTakeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerTheme.BlackStatusBar"/>
        <activity
            android:name=".common.media.imagepicker.video.GLVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VideoTheme"/>
        <activity
            android:name=".common.media.imagepicker.video.GLVideoConfirmActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VideoTheme"/>

        <activity
            android:name=".common.media.imagepicker.camera.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>




        <!--        网易云IM-->
        <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
         如果 SDKOptions 中提供了，取 SDKOptions 中的值。 -->


        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":imcore"/>

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":imcore"/>

        <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":imcore"/>

        <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver android:name="com.netease.nimlib.service.NimReceiver"
            android:process=":imcore"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService"/>

        <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.cgmcomm.cgmstore.ipc.provider"
            android:exported="false"
            android:process=":imcore" />


        <meta-data
            android:name="com.netease.cosine.target"
            android:value="" />
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver" />

    </application>
</manifest>
